/* hero */

#hero{
    background:linear-gradient(90deg, rgba(221, 245, 65, 0.5) 0%, rgba(221, 245, 65, 0.5) 10%,  rgba(36, 0, 255,.5) 100%), url(../images/bcg-hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    width: 100%;
    height: 600px;
}


#hero .logo{
    width:100%;
    height: 100%;
}

#hero .text h1{
    font-size: 36px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

#hero .text h2{
    font-size: 24px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}


@media (max-width:992px) {
    #hero{
        height: 552px;
        padding-bottom: 100px;
    }

    #hero h1{
        font-size: 20px;
    }

    #hero .logo{
        margin: -10px auto  0 auto;
    }

    #hero .logo img{
        width: 256px;
    }

    #hero .text{
        width: 90%;
        margin: 0 auto;
    }


    #hero .text h1{
        font-size: 24px;
        margin-top: -40px;
    }
    
    #hero .text h2{
        font-size: 18px;
    }
}

@media (max-width: 576px){
    #hero{
        height: 256px;
        background-size: contain;
    }

    #hero .logo img{
        width: 145px;
        margin-top: 112px;
    }
    

    #hero .text h1{
        font-size: 18px;
        margin-top: 0px;
    }    

    #hero .text h2{
        display: none;
    }
}











/* sosmed */

.sosmed{
    display: flex;
    position: relative;
    left: -326px;
}

.sosmed a{
    font-size: 20px;
    color: #ED80FD;
    background-color: #000;
    width: 400px;
    margin: 12px;
    padding: 12px 25px;
    text-align: right;
    font-weight: bold;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: 1s all;
    text-decoration: none;
}

.sosmed i{
    font-size: 2em;
    margin-left: 24px;
    margin-right: 12px;
    color: #ED80FD;
    transition: 1s all;
}

.sosmed a:hover{
    transform: translatex(200px);
    background-color: #ED80FD;
    color: white;
}

.sosmed a:hover > .icon-sosmed{
    color: white;
}



/* card */
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-evenly;
    width: 85%;
    margin: 0 auto;
}

 a.item{
    color: #000;
    text-decoration: none;
}

.cards .cardd{
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    width: 30%;
    /* height: 260px; */
    /* height: 300px; */
    height: auto;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px 8px 0px 0px;
    transition: all 1s;
}

.cards .cardd .card-img img{
    border: 0.1px solid rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);
    width: 90%;
}

.cards .cardd .cardd-title{
    height: 68px;
    margin-top: 12px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px 0px 0px 0px;
    transition: all 1s;
}

.cards .cardd .cardd-title h4{
    font-size: 18px;
    width: 80%;
    margin: 0;
}

.cards .cardd:hover{
    transform: scale(1.1);
}

.cards .cardd:hover .cardd-title{
    background-color: #3813C2;
    color: white;
}

@media (max-width: 992px){
    .sosmed{
        left: 0px;
        margin: 20px auto;
        gap: 12px;
        justify-content: center;
    }
    
    .sosmed a span{
        display: none;
    }

    .sosmed a{
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 72px;
        margin: 0 ;
        padding: 0 ;
        text-align: center;
    }

    .sosmed .icon-sosmed{
        margin: 0 auto;
        font-size: 1.5em;
    }

    
    .sosmed a:hover{
        transform: translatex(0);
        background-color: #000;
        color: #ED80FD;
    }

    .sosmed a:hover > .icon-sosmed{
        color: #ED80FD;
    }

    .cards .cardd .cardd-title h4{
        font-size: 16px;
    }

}

@media (max-width: 576px){

    .sosmed a{
        width: 64px;
        height: 64px;
    }

    .sosmed .icon-sosmed{
        font-size: 1.2em;
    }

    .cards{
        flex-direction: column;
        align-items: center;
        /* height: 104px; */
    }

    .cards .cardd{
        width: 100%;
        height: 104px;
    }
    .cards .cardd .card-img img{
        width: auto;
        height: 80%;
        margin: 10px;
    }

    .cards .cardd .cardd-title{
        width: 100%;
        height: 100%;
        background-color: #3813C2;
        border-radius: 100px 0px 0px 0px;
        justify-content: center;
        align-items: center;
        margin: 0px;
        display: flex;
    }

    .cards .cardd .cardd-title h4{
        width: 80%;
        color: white;
        margin-bottom: -20px;
        margin-right: -10px;
        font-size: 14px;
        font-weight: bold;
    }

}